*{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.row
{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
}
.bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom button{
  font-size: large;
  width: auto;
  background-color: black;
  border: 1px solid white;
background-color: rgb(167, 8, 32);
  border-radius: 5px;
}